  <div class="nav py-2 desktop-navigation">
    <div class="logo-container">
      <img src="ideagen-academy/images/IdeaGen_Logo.png" alt="ig-acedemy-logo" />
    </div>
    <ul class="menu">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a href="#">Level <i class="fa-solid fa-angle-down"></i></a>
        <ul class="dropdown">
          <li>
            <a href="#" class="d-flex justify-content-between w-100 px-2"
              >School <i class="fa-solid fa-angle-right"></i
            ></a>
            <ul class="dropdown-submenu">
              <li><a href="student-listing.html">Class 9</a></li>
              <li><a href="student-listing.html">Class 10</a></li>
              <li><a href="student-listing.html">Class 8</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="d-flex justify-content-between w-100 px-2"
              >+2 <i class="fa-solid fa-angle-right"></i
            ></a>
            <ul class="dropdown-submenu">
              <li><a href="student-listing.html">Science</a></li>
              <li><a href="student-listing.html">Management</a></li>
              <li><a href="student-listing.html">Humanities</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="d-flex justify-content-between w-100 px-2"
              >Batchlor</a
            >
            <ul class="dropdown-submenu">
              <li><a href="student-listing.html">BCA</a></li>
              <li><a href="student-listing.html">BBM</a></li>
              <li><a href="student-listing.html">BIM</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="d-flex justify-content-between w-100 px-2"
              >Master</a
            >
            <ul class="dropdown-submenu">
              <li><a href="student-listing.html">MCA</a></li>
              <li><a href="student-listing.html">MIT</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="student-listing.html">Tutor</a></li>
      <li><a href="blog-lisitng.html">Blog</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
    <div class="login-container">
      <div class="btn-container">
        <a
          href="javascript:void(0);"
          class="login-btn"
          data-bs-toggle="modal"
          data-bs-target="#studentModal"
          >Call for Tutor</a
        >
        <a
          href="#"
          class="login-btn"
          data-bs-toggle="modal"
          data-bs-target="#teacherModal"
          >Apply for Tutor</a
        >
      </div>
    </div>
  </div>