<meta charset="">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title>Ideagen Learning Academy</title>
    <!-- <meta name="description" content="Goodwill Cleaning offers professional cleaning services for home and offices in Hurstville, NSW, Australia. Contact us for affordable and reliable cleaning today." /> -->

<meta property="og:title" content="Ideagen Academy | Best Learning Academy" />
<meta property="og:url" content="https://learning.ideagen.com.np/" />
<!-- <meta property="og:description" content="Goodwill Cleaning offers professional cleaning services for home and offices in Hurstville, NSW, Australia. Contact us for affordable and reliable cleaning today." /> -->
<meta property="og:image" content="https://learning.ideagen.com.np/theme/IG_Academy/images/default.png" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="Ideagen Academy" />
<meta name="twitter:card" content="Ideagen Academy">
<meta name="twitter:site" content="@ideagen-academy">
<meta name="twitter:title" content="Ideagen Academy">
<!-- <meta name="twitter:description" content="Goodwill Cleaning offers professional cleaning services for home and offices in Hurstville, NSW, Australia. Contact us for affordable and reliable cleaning today."> -->
<meta name="twitter:image" content="https://learning.ideagen.com.np/theme/IG_Academy/images/default.png">
<meta name="robots" content="index,follow" />
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <meta name="keywords"
    content="Ideagen, academy, Ideagen Academy" />
    
<meta name="subject" content="Ideagen Academy">
<meta name="publisher" content="Ideagen Academy">    <link rel="profile" href="https://gmpg.org/xfn/11">