  <div class="nav mobile-navigation py-2 px-4">
    <div class="logo-container">
      <img src="ideagen-academy/images/IdeaGen_Logo.png" alt="ig-acedemy-logo" />
    </div>
    <div class="menu-toggle" id="menuToggle">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>

    <nav id="mobileMenu" class="mobile-menu">
      <div class="menu-header">
        <div class="logo-container">
          <img src="ideagen-academy/images/IdeaGen_Logo.png" alt="ig-acedemy-logo" />
        </div>
        <div class="close-menu" id="closeMenu">&times;</div>
      </div>
      <div class="tab-buttons">
        <div class="tab-btn active" data-target="menu-content">Menu</div>
        <div class="tab-btn" data-target="info-content">Info</div>
      </div>
      <div class="tab-content">
        <!-- Menu Content -->
        <div id="menu-content" class="tab-panel active">
          <ul class="menu-items">
            <li class="has-submenu">
              <a href="javascript:void(0)">Pages <span>+</span></a>
              <ul class="submenu">
                <li class="has-submenu-child">
                  <a href="javascript:void(0)">About <span>+</span></a>
                  <ul class="submenu-child">
                    <li><a href="#">About One</a></li>
                    <li><a href="#">About Two</a></li>
                    <li><a href="#">About Three</a></li>
                  </ul>
                </li>
                <li><a href="#">Staff</a></li>
                <li><a href="#">Event</a></li>
              </ul>
            </li>
            <!-- Other Menu Items -->
          </ul>
        </div>

        <!-- Info Content (this can be any static content you want to display) -->
        <div id="info-content" class="tab-panel">
          <div class="row pb-3 align-items-center">
            <i class="col-2 footer-icon-contact fa-solid fa-location-dot"></i
            ><span class="col-10 footer-contact address"
              >203 Fake St. Mountain View, San Francisco, California,
              USA</span
            >
          </div>
          <div class="row pb-3 align-items-center">
            <i class="col-2 footer-icon-contact fa-solid fa-phone"></i>
            <span class="col-10 footer-contact phone">+2 392 3929 210</span>
          </div>
          <div class="row pb-3 align-items-center">
            <i class="col-2 footer-icon-contact fa-solid fa-envelope"></i>
            <span class="col-10 footer-contact email">
              info@yourdomain.com</span
            >
          </div>
          <div class="social-media d-flex gap-3 align-items-center">
            <a href="#"
              ><i class="social-icon fa-brands fa-facebook footer-icon"></i
            ></a>
            <a href="#"
              ><i class="social-icon fa-brands fa-instagram footer-icon"></i
            ></a>
            <a href="#"
              ><i class="social-icon fa-brands fa-twitter footer-icon"></i
            ></a>
            <a href="#"
              ><i class="social-icon fa-brands fa-linkedin footer-icon"></i
            ></a>
          </div>
          <div class="btn-container">
            <div class="login-btn">Call for Tutor</div>
            <div class="login-btn">Apply fot Tutor</div>
          </div>
        </div>
      </div>
    </nav>
  </div>